{% extends 'menu.html.twig' %}

{% block content %}
    <h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>
<h1 style="font-size:340%;color:red;">CONTACT US</h1>
    {# {% for i in pimcore_iterate_block(pimcore_block('contentblock')) %}
        <h2>{{ pimcore_input('subline') }}</h2>
        {{ pimcore_wysiwyg('content') }}
    {% endfor %} #}

 <div class="row">   
<div class="col-sm-6" style="font-size:140%;">	
NAME OF SUB-DIV OFFICE<br>
<br>
    Joint Commissioner of Police(Traffic), Bengaluru City<br>
    No. 5, 2nd Floor, Traffic Head Quarters, Infantry Road,<br>
    Bengaluru - 560 001.<br>
    E-mail: jtcptrafficbcp@ksp.gov.in
</div><br>
 <div class="col-sm-6" style="font-size:140%;">
 <br>
    DY.COMMISSIONER OF POLICE TRAFFIC EAST DIVISION.<br>
    No. 5, 3rd Floor, Traffic Head Quarters, Infantry Road,<br>
    Bengaluru - 560 001.<br>
    dcptrafficeastoffice@gmail.com
 </div>
</div>
{% endblock %}  