{% extends 'layout.html.twig' %}

{% block content %}
<h1>This is the Preview</h1>
<ul style="font-size:120%">  
<li>Product Code: {{ sku }} </li>
<li>Name: {{ name }} </li>
  
</ul>
  
{% endblock %}